.example-toolbar {
  height: 75px;
  padding:10px;
  z-index: 10;
}

.overlay1 {
  background-image: url(/assets/bg.jpg);
  background-position: bottom center;
  position: absolute   ;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  bottom: 0;
  top: 0;
  background-color: #ffffff;
  color: #7c7b7b;
  }

.ig {
  cursor: pointer;
}
.ico-feedback {
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
}

::ng-deep .feedback-container {
  min-width: 300px !important;
  margin-left: -115px;
  padding: 10px;
  text-align: center;
}

::ng-deep .feedback-container img {
  width: 100%;
}

::ng-deep .feedback-container mat-form-field {
  width: 90%;
}

.igg {
  margin-right: 5px;
  margin-top: -7px;
  cursor: pointer;
}

.example-container {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // overflow: scroll;
}

.example-is-mobile .example-toolbar  {
  position: fixed;
  z-index: 2;
}

h1.example-app-name  {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container  {
  flex: 1 0 auto;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown  {
    background-color: transparent;
}

.mat-drawer    {
  top: 75px!important;
  background-color: white;
}

.mat-drawer-content {
    overflow: hidden!important;
}
.pr{
  padding-right: 20px;
  padding-top: 15px;
  border-top:1.8437em;
  font-size: 15px;
  line-height: smaller;
}
mat-sidenav {
  box-shadow: none;
  visibility: hidden;
}


.footer {
  //  position: fixed;
  //  bottom: 0;
  position: absolute;
    // bottom: -300px;
    // bottom: -400px;
    z-index:100000;
   width: 100%;
  //  color: #757575;
   text-align: center;
   margin: -10px;
   font-family: Roboto,"Helvetica Neue",sans-serif;
   padding: 5px;
   font-size: small;
  //  background-color: white;
  background-color:#7c7b7b;
  color: #fff;
   line-height: 2;
}

.footer_dash {
  // position: fixed;
  //  bottom: 0;
  position: absolute;
    // bottom: -300px;
    z-index:100000;
   width: 100%;
   text-align: center;
   margin: -1px;
   font-family: Roboto,"Helvetica Neue",sans-serif;
   padding: 5px;
   font-size: small;
   background-color: #3f51b5;
   line-height: 2;
   z-index: 10;
   color: #ffffff;
}
mat-nav-list {
  margin-top: 10px !important;
}

.footer-link {
  padding-right: 5%;
  color: #0E70FD;
}

.img-size {
  height: 24px;
  width: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-end;
}

.row_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 1%;
  align-items: flex-start;
}
.column_2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1.5;
  margin: 0%;
}

.mobile-layout {
  display: none;
}

.desktop-layout {
  // display:block;
}

@media (max-width: 767px){
  .mobile-layout {
    display: block;
  }
  
  .desktop-layout {
    display:none;
  }

  .footer {
    // position: relative;
    // bottom: 0;
    position: absolute;
    // bottom: -2700px;
    z-index:100000;
    width: 100%;
    color: #757575;
    text-align: center;
    margin: -10px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    padding: 5px;
    font-size: small;
    background-color: white;
    line-height: 2;
    z-index:100000;
 }
}

@media only screen 
and (min-device-width : 0px) 
and (max-device-width : 850px) 
and (orientation : landscape) {
  .mobile-layout {
    display: block;
  }
  
  .desktop-layout {
    display:none;
  }

  .footer {
    // position: fixed;
    // bottom: 0;
    position: absolute;
    // bottom: -300px;
    // bottom: -2700px;
    z-index:100000;
    width: 100%;
    color: #757575;
    text-align: center;
    margin: -10px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    padding: 5px;
    font-size: small;
    background-color: white;
    line-height: 2;
 }
} 

.flex-container {
  margin-left: 15%;
  margin-right: 15%;
}


