<div fxLayout="row" fxLayoutAlign="center center" class="overlay forgot-container">
        <div fxLayout="column" fxLayoutAlign="center center" class="bg">
          <span><img src="/assets/{{env.project_logo}}.svg"></span>
          <form [formGroup]="forgot" class="frmForgot">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>EMAIL</mat-label>
              <input matInput formControlName="email" class="form-control" name="email">
            </mat-form-field>
          </form>
               
          <button mat-stroked-button color="primary" class="btn-submit" (click)="onSubmit()" >Submit</button>
          <button (click)="onCancel()" color="primary" class="form-control link" mat-button routerLink="/login/forget">Cancel</button>
        </div>
      </div>