<div class="example-container" style="height: 100%;">
    <mat-toolbar color="primary" class="example-toolbar overlay1">
        <span class="filler" style="flex: 1 1 auto">
            <span fxDirection="center center"><img style="height: 50px;margin-left: 50%;"
                    src="assets/revenued-logo-only-white.png" alt="Avatar" class="img"></span>
        </span>
        <span>
            <button mat-button (click)="onsign()">
                <mat-icon>exit_to_app</mat-icon>Log-In
            </button>
        </span>
    </mat-toolbar>

    <div style="display: flex;flex-direction: column;height: 100%;">
        <div class="example-header mat-elevation-z8" fxLayout="row">
            <mat-form-field>
                <input matInput placeholder="Filter">
            </mat-form-field>
        </div>

        <div>
            <h1> Home Page</h1>
        </div>
    </div>